body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
    color: #444;
    text-align: center;
}
canvas {
    border: 2px solid #ccc;
    background-color: white;
}
